@media all and (max-width: 1000px){
    .top-main h1 {
        font-size : 32px;
    }
    .content {
        width: 50%;
        margin-bottom: 50px;
    }
    .product {
        width: 45%;
        margin-top: 10px;
    }
    .heading h2 {
        font-size: 20px;
    }
    .heading-product h2 {
        font-size: 20px;
    }  
    .heading h1 {
        font-size: 20px;
    }
    footer {
        font-size: 20px;
      }
}

@media all and (max-width: 670px){
    .menu-icon {
        display: block;
    }
    .content {
        width: 100%;
    }
    .text-info {
        margin-bottom: 30px;
    }
    .product {
        width: 100%;
        margin-bottom: 50px;
    }
    .header-right {
        display: none;
      }
      .top-main h1 {
        font-size : 24px;
        line-height: 36px;
      }
      .top-main {
        text-align: left;
      }
      footer {
        text-align: center;
        display: block;
      }
      .footer-logo {
        padding-right: none !important;
        float: none;
        text-align: center;
    }
    .search-text h2 {
        font-size: 20px;
    }

}

@media all and (max-width: 320px){
    .product {
        width: 100%;
        margin-bottom: 20px;
    }
    ul {
        width: 110%;
    }
    .judul-product h2{
        font-size: 20px;
    }
    footer {
        text-align: center;
        
      }
    footer p {
        display: block;
    }
    .footer-logo {
        padding-right: none;
        float: none;
    }
}